Q 1. Create a function to perform basic arithmetic operations that includes
addition, subtraction, multiplication and division on a string number (e.g. &quot;12 +
24&quot; or &quot;23 - 21&quot; or &quot;12 // 12&quot; or &quot;12 * 21&quot;).
- Here, we have 1 followed by a space, operator followed by another space
and 2. For the challenge, we are going to have only two numbers between 1
valid operator. The return value should be a number.
- eval() is not allowed. In case of division, whenever the second number equals
&quot;0&quot; return -1.
- For example:
- &quot;15 // 0&quot; ➞ -1
- Examples
- arithmetic_operation(&quot;12 + 12&quot;) ➞ 24 // 12 + 12 = 24
- arithmetic_operation(&quot;12 - 12&quot;) ➞ 24 // 12 - 12 = 0
- arithmetic_operation(&quot;12 * 12&quot;) ➞ 144 // 12 * 12 = 144
- arithmetic_operation(&quot;12 // 0&quot;) ➞ -1 // 12 / 0 = -1

ans :

In [7]:
def arithmetic_operation(string) :
    string = string.split()
    for i in string:
        if string[1] == "+":
              return int(string[0]) + int(string[2])
        elif string[1] == "-":
             return int(string[0]) - int(string[2])
        elif string[1] == "*":
             return int(string[0]) * int(string[2])
        elif string[1] == "//":
            if string[2] =="0":
                return -1
            else:
                return int(string[0]) // int(string[2])

In [8]:
arithmetic_operation("12 + 12")

24

In [9]:
arithmetic_operation("12 - 12")

0

In [10]:
arithmetic_operation("12 * 12")

144

In [11]:
arithmetic_operation("12 // 0")

-1

Q 2. Write a function that takes the coordinates of three points in the form of a
2d array and returns the perimeter of the triangle. The given points are the
vertices of a triangle on a two-dimensional plane.
- Examples
- perimeter( [ [15, 7], [5, 22], [11, 1] ] ) ➞ 47.08
- perimeter( [ [0, 0], [0, 1], [1, 0] ] ) ➞ 3.42
- perimeter( [ [-10, -10], [10, 10 ], [-10, 10] ] ) ➞ 68.28

ans :

In [12]:
import numpy as np
def perimeter(list):
    ab = np.sqrt(np.square(list[0][0] - list[1][0]) + np.square(list[0][1] - list[1][1]))
    bc = np.sqrt(np.square(list[1][0] - list[2][0]) + np.square(list[1][1] - list[2][1]))
    ac = np.sqrt(np.square(list[0][0] - list[2][0]) + np.square(list[0][1] - list[2][1]))
    p = np.round(ab +bc +ac,2)
    return p

In [13]:
perimeter( [ [15, 7], [5, 22], [11, 1] ] )

47.08

In [14]:
perimeter( [ [0, 0], [0, 1], [1, 0] ] )

3.41

In [15]:
perimeter( [ [-10, -10], [10, 10 ], [-10, 10] ] )

68.28

Q 3. A city skyline can be represented as a 2-D list with 1s representing
buildings. In the example below, the height of the tallest building is 4 (second-
most right column).
- [[0, 0, 0, 0, 0, 0],
[0, 0, 0, 0, 1, 0],
[0, 0, 1, 0, 1, 0],
[0, 1, 1, 1, 1, 0],
[1, 1, 1, 1, 1, 1]]
- Create a function that takes a skyline (2-D list of 0&#39;s and 1&#39;s) and returns the
height of the tallest skyscraper.
- Examples
- tallest_skyscraper([
[0, 0, 0, 0],
[0, 1, 0, 0],
[0, 1, 1, 0],
[1, 1, 1, 1]
]) ➞ 3
- tallest_skyscraper([
[0, 1, 0, 0],
[0, 1, 0, 0],
[0, 1, 1, 0],
[1, 1, 1, 1]
]) ➞ 4
- tallest_skyscraper([
[0, 0, 0, 0],
[0, 0, 0, 0],
[1, 1, 1, 0],
[1, 1, 1, 1]
]) ➞ 2

ans :

In [16]:
def tallest_skyscraper(list):
    n = 0
    for i in list:
        if 1 in i:
            n = n+1
    return n

In [17]:
tallest_skyscraper([ [0, 0, 0, 0], [0, 1, 0, 0], [0, 1, 1, 0], [1, 1, 1, 1] ])

3

In [18]:
tallest_skyscraper([ [0, 1, 0, 0], [0, 1, 0, 0], [0, 1, 1, 0], [1, 1, 1, 1] ])

4

In [19]:
tallest_skyscraper([ [0, 0, 0, 0], [0, 0, 0, 0], [1, 1, 1, 0], [1, 1, 1, 1] ])

2

Q 4. A financial institution provides professional services to banks and claims
charges from the customers based on the number of man-days provided.
Internally, it has set a scheme to motivate and reward staff to meet and
exceed targeted billable utilization and revenues by paying a bonus for each
day claimed from customers in excess of a threshold target.
This quarterly scheme is calculated with a threshold target of 32 days per
quarter, and the incentive payment for each billable day in excess of such
threshold target is shown as follows:
- Days - Bonus
- 0 to 32  days - Zero
- 33 to 40 days - SGD$325 per billable day
- 41 to 48 days - SGD$550 per billable day
- Greater than 48 days - SGD$600 per billable day
- Please note that incentive payment is calculated progressively. As an
example, if an employee reached total billable days of 45 in a quarter, his/her
incentive payment is computed as follows:
- 32*0 + 8*325 + 5*550 = 5350
- Write a function to read the billable days of an employee and return the bonus
he/she has obtained in that quarter.
- Examples
- bonus(15) ➞ 0
- bonus(37) ➞ 1625
- bonus(50) ➞ 8200

In [20]:
def bonus(days):
    bonus1 = 0
    bonus2 = (days-32)*325
    bonus3 = (8*325) + ((days-40)*550)
    bonus4 = (8*325) + (8*550)+((days-48)*600)
    
    if days <=32:
        return bonus1
    elif 32< days<=40:
        return bonus2
    elif 40<days<=48:
        return bonus3
    elif days >48:
        return bonus4

In [21]:
bonus(15)

0

In [22]:
bonus(37)

1625

In [23]:
bonus(50)

8200

Q 5. A number is said to be Disarium if the sum of its digits raised to their
respective positions is the number itself.
- Create a function that determines whether a number is a Disarium or not.
- Examples
- is_disarium(75) ➞ False
- 7^1 + 5^2 = 7 + 25 = 32
- is_disarium(135) ➞ True
- 1^1 + 3^2 + 5^3 = 1 + 9 + 125 = 135
- is_disarium(544) ➞ False
- is_disarium(518) ➞ True
- is_disarium(466) ➞ False
- is_disarium(8) ➞ True

In [24]:
def is_disarium(num):
    sum = 0
    count_digit = len(str(num))
    x = num
    while x!=0:
        r = x%10
        sum = (int)(sum +(r**count_digit))
        count_digit = count_digit-1
        x = x//10
    if sum == num:
        return True
    else :
        return False

In [25]:
is_disarium(75)

False

In [26]:
is_disarium(135)

True

In [27]:
is_disarium(544)

False

In [28]:
is_disarium(518)

True

In [29]:
is_disarium(466)

False

In [30]:
is_disarium(8)

True