Q 1. Create a function that takes a list and string. The function should remove
the letters in the string from the list, and return the list.
- Examples
- remove_letters([&quot;s&quot;, &quot;t&quot;, &quot;r&quot;, &quot;i&quot;, &quot;n&quot;, &quot;g&quot;, &quot;w&quot;], &quot;string&quot;) ➞ [&quot;w&quot;]
- remove_letters([&quot;b&quot;, &quot;b&quot;, &quot;l&quot;, &quot;l&quot;, &quot;g&quot;, &quot;n&quot;, &quot;o&quot;, &quot;a&quot;, &quot;w&quot;], &quot;balloon&quot;) ➞ [&quot;b&quot;, &quot;g&quot;,
&quot;w&quot;]
- remove_letters([&quot;d&quot;, &quot;b&quot;, &quot;t&quot;, &quot;e&quot;, &quot;a&quot;, &quot;i&quot;], &quot;edabit&quot;) ➞ []

In [1]:
def remove_letters(in_list,in_string):
    in_list_copy = in_list.copy()
    for ele in in_string:
        if ele in in_list:
            in_list.remove(ele)
    print(f'remove_letters{in_list_copy,in_string} : {in_list}')

ans :

In [2]:
remove_letters(["s", "t", "r", "i", "n", "g", "w"], "string")

remove_letters(['s', 't', 'r', 'i', 'n', 'g', 'w'], 'string') : ['w']

In [3]:
remove_letters(["b", "b", "l", "l", "g", "n", "o", "a", "w"], "balloon")

remove_letters(['b', 'b', 'l', 'l', 'g', 'n', 'o', 'a', 'w'], 'balloon') : ['b', 'g', 'w']

In [4]:
remove_letters(["d", "b", "t", "e", "a", "i"], "edabit")

remove_letters(['d', 'b', 't', 'e', 'a', 'i'], 'edabit') : []

Q 2. A block sequence in three dimensions. We can write a formula for this one:

- Create a function that takes a number (step) as an argument and returns the
amount of blocks in that step.
- Examples
- blocks(1) ➞ 5
- blocks(5) ➞ 39
- blocks(2) ➞ 12

ans:

In [5]:
def blocks(in_num):
    depth = in_num*3+((in_num)-1)*1
    height = [x for x in range(2,in_num+2)]
    print(f'blocks({in_num}) ➞ {depth+sum(height)}')

In [6]:
blocks(1)

blocks(1) ➞ 5

In [7]:
blocks(5)

blocks(5) ➞ 39

In [8]:
blocks(2)

blocks(2) ➞ 12

Q 3. Create a function that subtracts one positive integer from another, without
using any arithmetic operators such as -, %, /, +, etc.
- Examples
- my_sub(5, 9) ➞ 4
- my_sub(10, 30) ➞ 20
- my_sub(0, 0) ➞ 0

ans :

In [9]:
from operator import sub
def my_sub(in_one,in_two):
    output = sub(in_one,in_two) if in_one >= in_two else sub(in_two,in_one)
    print(f'my_sub{in_one,in_two} ➞ {output}')
    
my_sub(5, 9)
my_sub(10, 30)
my_sub(0, 0)

my_sub(5, 9) ➞ 4
my_sub(10, 30) ➞ 20
my_sub(0, 0) ➞ 0

Q 4. Create a function that takes a string containing money in dollars and
pounds sterling (seperated by comma) and returns the sum of dollar bills only,
as an integer.
For the input string:
- Each amount is prefixed by the currency symbol: 
- $ for dollars and £ for pounds.
- Thousands are represented by the suffix k.
- i.e. $ 4k = $ 4,000 and £ 40k = £40,000
- Examples
- add_bill(&quot;d20,p40,p60,d50&quot;) ➞ 20 + 50 = 70
- add_bill(&quot;p30,d20,p60,d150,p360&quot;) ➞ 20 + 150 = 170
- add_bill(&quot;p30,d2k,p60,d200,p360&quot;) ➞ 2 * 1000 + 200 = 2200

ans:

In [10]:
def add_bill(string):
    output = 0
    for i in string.split(","):
        if "d" in i:
            if "k" in i:
                output +=int(i.replace("d","").replace("k",""))*1000
            else:
                output+=int(i.replace("d",""))
    return output

In [11]:
add_bill("d20,p40,p60,d50")

70

In [12]:
add_bill("p30,d20,p60,d150,p360")

170

In [13]:
add_bill("p30,d2k,p60,d200,p360")

2200

Q 5. Create a function that flips a horizontal list into a vertical list, and a vertical
list into a horizontal list.
- In other words, take an 1 x n list (1 row + n columns) and flip it into a n x 1 list
(n rows and 1 column), and vice versa.
- Examples
- flip_list([1, 2, 3, 4]) ➞ [[1], [2], [3], [4]]
-  Take a horizontal list and flip it vertical.
- flip_list([[5], [6], [9]]) ➞ [5, 6, 9]
- Take a vertical list and flip it horizontal.
- flip_list([]) ➞ []

ans :

In [14]:
def flip_list(list_):
    if len(list_)>0:
        return [i[0] if type(i) == list else [i] for i in list_]
    else:
        return list_

In [15]:
flip_list([1, 2, 3, 4])

[[1], [2], [3], [4]]

In [16]:
flip_list([[5], [6], [9]])

[5, 6, 9]

In [17]:
flip_list([])

[]