Q 1. Given a list of numbers, create a function that removes 25% from every
number in the list except the smallest number, and adds the total amount
removed to the smallest number.
- Examples
- show_the_love([4, 1, 4]) ➞ [3, 3, 3]
- show_the_love([16, 10, 8]) ➞ [12, 7.5, 14.5]
- show_the_love([2, 100]) ➞ [27, 75]

ans :

In [1]:
def show_the_love(list_):
    sum_ = 0
    for i in range(len(list_)):
        if i is not min(list_):
            sum_ += list_[i]/4
            list_[i] = list_[i] - list_[i]/4
    list_[list_.index(min(list_))] = sum_ + min(list_)      
    return list_

In [2]:
show_the_love([4, 1, 4])

[3.0, 3.0, 3.0]

In [3]:
show_the_love([16, 10, 8])

[12.0, 7.5, 14.5]

In [4]:
show_the_love([2, 100])

[27.0, 75.0]

Q 2. Create a function that takes in two words as input and returns a list of three
elements, in the following order:
- 1.Shared letters between two words.
- 2.Letters unique to word 1.
- 3.Letters unique to word 2.
- Each element should have unique letters, and have each letter be
alphabetically sorted.
- Examples
- letters(&quot;sharp&quot;, &quot;soap&quot;) ➞ [&quot;aps&quot;, &quot;hr&quot;, &quot;o&quot;]
- letters(&quot;board&quot;, &quot;bored&quot;) ➞ [&quot;bdor&quot;, &quot;a&quot;, &quot;e&quot;]
- letters(&quot;happiness&quot;, &quot;envelope&quot;) ➞ [&quot;enp&quot;, &quot;ahis&quot;, &quot;lov&quot;]

- letters(&quot;kerfuffle&quot;, &quot;fluffy&quot;) ➞ [&quot;flu&quot;, &quot;ekr&quot;, &quot;y&quot;]
- Even with multiple matching letters (e.g. 3 f&#39;s), there should
- only exist a single &quot;f&quot; in your first element.
- letters(&quot;match&quot;, &quot;ham&quot;) ➞ [&quot;ahm&quot;, &quot;ct&quot;, &quot;&quot;]
- &quot;ham&quot; does not contain any letters that are not found already
 in &quot;match&quot;.

ans :

In [5]:
def letters(str1,str2):
    common = []
    uniq1 = []
    uniq2 = []
    for i in str1:
        if i in str2:
            common.append(i)
        elif i not in str2:
            uniq1.append(i)
    for i in str2:
        if i not in str1:
            uniq2.append(i)
    return ["".join(sorted(set(common))),"".join(sorted(set(uniq1))),
            "".join(sorted(set(uniq2)))]

In [6]:
letters("sharp", "soap")

['aps', 'hr', 'o']

In [7]:
letters("board", "bored")

['bdor', 'a', 'e']

In [8]:
letters("happiness", "envelope")

['enp', 'ahis', 'lov']

In [9]:
letters("kerfuffle", "fluffy")

['flu', 'ekr', 'y']

In [10]:
letters("match", "ham")

['ahm', 'ct', '']

Q 3. Write a function that pairs the first number in an array with the last, the
second number with the second to last, etc.
- Examples
- pairs([1, 2, 3, 4, 5, 6, 7]) ➞ [[1, 7], [2, 6], [3, 5], [4, 4]]

- pairs([1, 2, 3, 4, 5, 6]) ➞ [[1, 6], [2, 5], [3, 4]]
- pairs([5, 9, 8, 1, 2]) ➞ [[5, 2], [9, 1], [8, 8]]
- pairs([]) ➞ []

ans:

In [11]:
def pairs(list_):
    output = []
    while True:
        if len(list_)>0:
            if len(list_) ==1:
                output.append([list_[0],list_.pop(0)])
            else:
                output.append([list_.pop(0),list_.pop(-1)])
        else:
            break
    return output

In [12]:
pairs([1, 2, 3, 4, 5, 6, 7])

[[1, 7], [2, 6], [3, 5], [4, 4]]

In [13]:
pairs([1, 2, 3, 4, 5, 6])

[[1, 6], [2, 5], [3, 4]]

In [14]:
pairs([5, 9, 8, 1, 2])

[[5, 2], [9, 1], [8, 8]]

Q 4. Write a function that adds two numbers. The catch, however, is that the
numbers will be strings.
- Examples
- add_str_nums(&quot;4&quot;, &quot;5&quot;) ➞ &quot;9&quot;
- add_str_nums(&quot;abcdefg&quot;, &quot;3&quot;) ➞ &quot;-1&quot;
- add_str_nums(&quot;1&quot;, &quot;&quot;) ➞ &quot;1&quot;
- add_str_nums(&quot;1874682736267235927359283579235789257&quot;,
&quot;32652983572985729&quot;) ➞ &quot;1874682736267235927391936562808774986&quot;

ans :

In [15]:
def add_str_nums(str1,str2):
    str1 = str1 if len(str1) > 0 else "0"
    str2 = str2 if len(str2) > 0 else "0"
    if str1.isdigit() ==False or str2.isdigit() ==False :
        return -1
    else :
        return str(int(str1) + int(str2))

In [16]:
add_str_nums("4", "5")

'9'

In [17]:
add_str_nums("abcdefg", "3")

-1

In [18]:
add_str_nums("1", "")

'1'

In [19]:
add_str_nums("1874682736267235927359283579235789257", "32652983572985729")

'1874682736267235927391936562808774986'

Q 5. lPaeesh le pemu mnxit ehess rtnisg! Oh, sorry, that was supposed to say:
Please help me unmix these strings!
- Somehow my strings have all become mixed up; every pair of characters has
been swapped. Help me undo this so I can understand my strings again.
- Examples
- unmix(&quot;123456&quot;) ➞ &quot;214365&quot;
- unmix(&quot;hTsii s aimex dpus rtni.g&quot;) ➞ &quot;This is a mixed up string.&quot;
- unmix(&quot;badce&quot;) ➞ &quot;abcde&quot;

In [20]:
def unmix(in_string):
    output = ''
    for ele in range(0,len(in_string)-1,2):
        output += in_string[ele+1]+in_string[ele]
    if (len(in_string)%2 != 0 ):
        output += in_string[-1]       
    print(f'unmix({in_string}) : {output}')

In [21]:
unmix("123456")

unmix(123456) : 214365

In [22]:
unmix("hTsii  s aimex dpus rtni.g")

unmix(hTsii  s aimex dpus rtni.g) : This is a mixed up string.

In [23]:
unmix("badcfe")

unmix(badcfe) : abcdef